.row {
  margin-top: 20px;
}
.title {
  font-size: 2rem;
  font-weight: 600;
}

.price {
  font-size: 2rem;
  font-weight: 400;
}
.desc-title {
  font-size: 1.5rem;
  margin-top: 10px;
  margin-bottom: 10px;
}
.params-title {
  font-size: 1.5rem;
  margin-top: 10px;
  margin-bottom: 10px;
}

.table-cell {
  width: 50%;
}

.product-parameter-key {
  font-weight: 500;
}
