<div class="main-container">
  <mat-card>
    <mat-card-header class="header">
      <mat-card-title class="title">Add Product Form</mat-card-title>
    </mat-card-header>
    <div class="add-file-container">
      <mat-form-field class="input" (click)="fileInput.click()">
        <input
          type="text"
          [value]="fileName"
          matInput
          placeholder="Add .png image"
          readonly
          accept="image/png"
        />
        <mat-icon matSuffix>attach_file</mat-icon>
      </mat-form-field>
      <input type="file" #fileInput (change)="onFileSelected($event)" />
      <button
        class="button"
        mat-raised-button
        color="primary"
        type="submit"
        (click)="uploadFile()"
      >
        Add image
      </button>
    </div>
    <app-uploaded-images
      (deleteImageUrl)="setActiveImageUrls($event)"
      [imageUrls]="imageUrls"
      *ngIf="imageUrls.length > 0"
    ></app-uploaded-images>

    <form [formGroup]="addProductForm" (ngSubmit)="onAddProduct()">
      <div class="add-product-container">
        <mat-form-field class="input">
          <mat-label>Product name</mat-label>
          <input
            matInput
            [formControl]="controls.name"
            placeholder="write something.."
          />
          <mat-error *ngIf="controls.name.invalid">{{
            getErrorMessage(controls.name)
          }}</mat-error>
        </mat-form-field>
        <mat-form-field class="input">
          <mat-label>Product Description</mat-label>
          <input
            matInput
            [formControl]="controls.mainDesc"
            placeholder="write something.."
          />
          <mat-error *ngIf="controls.mainDesc.invalid">{{
            getErrorMessage(controls.mainDesc)
          }}</mat-error>
        </mat-form-field>

        <angular-editor
          [formControl]="controls.descHtml"
          [config]="config"
        ></angular-editor>

        <mat-form-field class="mt-2">
          <mat-label>Price</mat-label>
          <input
            matInput
            [formControl]="controls.price"
            placeholder="write something.."
          />
          <mat-error *ngIf="controls.price.invalid">{{
            getErrorMessage(controls.price)
          }}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Category</mat-label>
          <mat-select [formControl]="controls.category">
            <mat-option [value]="''">All categories </mat-option>
            <ng-container *ngFor="let category of categories$ | async">
              <mat-option [value]="category.shortId"
                >{{ category.name }}
              </mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>
        <div
          class="parameters"
          [formArrayName]="'parameters'"
          *ngIf="parameters.controls.length > 0"
        >
          <p>Parameters:</p>
          <div
            *ngFor="let parameter of parameters.controls; let i = index"
            [formGroupName]="i"
            class="d-flex flex-column"
          >
            <div class="form-control-wrapper">
              <mat-form-field class="array-input">
                <mat-label>Parameter Name</mat-label>
                <input
                  matInput
                  [formControl]="parameters.at(i).controls.key"
                  placeholder="write something.."
                />
                <mat-error *ngIf="parameters.at(i).controls.key.invalid">{{
                  getErrorMessage(parameters.at(i).controls.key)
                }}</mat-error>
              </mat-form-field>
              <mat-form-field class="array-input">
                <mat-label>Parameter Value</mat-label>
                <input
                  matInput
                  [formControl]="parameters.at(i).controls.value"
                  placeholder="write something.."
                />
                <mat-error *ngIf="parameters.at(i).controls.value.invalid">{{
                  getErrorMessage(parameters.at(i).controls.value)
                }}</mat-error>
                <mat-icon
                  matSuffix
                  matTooltip="Delete parameter"
                  (click)="deleteParameter(i)"
                  >delete</mat-icon
                >
              </mat-form-field>
            </div>
          </div>
          <div class="d-flex justify-content-end">
            <button
              mat-raised-button
              color="primary"
              type="button"
              (click)="addParameter()"
            >
              Add parameter
            </button>
          </div>
        </div>

        <div class="d-flex justify-content-center w-100">
          <button
            class="w-50"
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="addProductForm.invalid"
          >
            ADD PRODUCT
          </button>
        </div>
      </div>
    </form>
  </mat-card>
</div>
