input[type="file"] {
  display: none;
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  text-align: center;
}

.add-file-container,
.add-product-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.input {
  width: 100%;
}

mat-card {
  margin-top: 50px;
  margin-bottom: 50px;
  max-width: 600px;
  width: 100%;
}
