<div class="main-container">
  <mat-card>
    <mat-card-header class="header">
      <mat-card-title class="title">Add Product Form</mat-card-title>
    </mat-card-header>
    <div class="add-file-container">
      <mat-form-field class="input" (click)="fileInput.click()">
        <input
          type="text"
          [value]="fileName"
          matInput
          placeholder="Add .png image"
          readonly
          accept="image/png"
        />
        <mat-icon matSuffix>attach_file</mat-icon>
      </mat-form-field>
      <input type="file" #fileInput (change)="onFileSelected($event)" />
      <button
        class="button"
        mat-raised-button
        color="primary"
        type="submit"
        (click)="uploadFile()"
      >
        Add image
      </button>
    </div>
    <app-uploaded-images
      (deleteImageUrl)="setActiveImageUrls($event)"
      [imageUrls]="imageUrls"
      *ngIf="imageUrls.length > 0"
    ></app-uploaded-images>

    <form [formGroup]="addProductForm" (ngSubmit)="onAddProduct()">
      <div class="add-product-container">
        <mat-form-field class="input">
          <mat-label>Product name</mat-label>
          <input
            matInput
            [formControl]="controls.name"
            placeholder="write something.."
          />
          <mat-error *ngIf="controls.category.invalid">{{
            getErrorMessage(controls.name)
          }}</mat-error>
        </mat-form-field>
        <mat-form-field class="input">
          <mat-label>Product Description</mat-label>
          <input
            matInput
            [formControl]="controls.mainDesc"
            placeholder="write something.."
          />
          <mat-error *ngIf="controls.mainDesc.invalid">{{
            getErrorMessage(controls.mainDesc)
          }}</mat-error>
        </mat-form-field>
        <mat-form-field class="input">
          <mat-label>HTML description</mat-label>
          <input
            matInput
            [formControl]="controls.descHtml"
            placeholder="write something.."
          />
          <mat-error *ngIf="controls.descHtml.invalid">{{
            getErrorMessage(controls.descHtml)
          }}</mat-error>
        </mat-form-field>
        <mat-form-field class="input">
          <mat-label>Price</mat-label>
          <input
            matInput
            [formControl]="controls.price"
            placeholder="write something.."
          />
          <mat-error *ngIf="controls.price.invalid">{{
            getErrorMessage(controls.price)
          }}</mat-error>
        </mat-form-field>
        <mat-form-field class="input">
          <mat-label>Category</mat-label>
          <input
            matInput
            [formControl]="controls.category"
            placeholder="write something.."
          />
          <mat-error *ngIf="controls.category.invalid">{{
            getErrorMessage(controls.category)
          }}</mat-error>
        </mat-form-field>
        <!-- <mat-form-field class="input">
          <mat-label>Product parameters</mat-label>
          <input
            matInput
            [formControl]="controls.parameters"
            placeholder="write something.."
          />
          <mat-error *ngIf="controls.parameters.invalid">{{
            getErrorMessage(controls.parameters)
          }}</mat-error>
        </mat-form-field> -->
        <button
          class="button"
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="addProductForm.invalid"
        >
          Add product
        </button>
      </div>
    </form>
  </mat-card>
</div>
