.dropdown:hover > .dropdown-menu {
  display: block;
}

.dropdown-item {
  cursor: pointer;
  background-color: #6e42c188;
  border: solid 1px aliceblue;
}

.dropdown-item:hover {
  background-color: #6e42c1;
}
