.products-list {
  display: grid;
  gap: 0.8rem;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  grid-auto-columns: max-content;
  grid-auto-flow: row;
}

mat-form-field {
  margin-left: 5px;
  margin-left: 5px;
  width: 25%;
}
.filtering-container {
  display: grid;
  padding: 0px;
  grid-template-columns: 80% 20%;
}

.filter {
  width: 100%;
}

.button {
  height: 56px;
  margin: 0px;
  border-radius: 0px;
}
.params {
  display: flex;
  justify-content: space-between;
}
