.container {
  padding-top: 30px;
}

.mat-expansion-panel-header {
  background-color: #6e42c1 !important;
}

.mat-expansion-panel-header-title {
  color: white;
}

.mat-expansion-panel-header-description {
  color: white;
  font-weight: 100;
}
